<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440447150598-6310tph498ob9f4msti30s3s7rf68scu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440447150598-6310tph498ob9f4msti30s3s7rf68scu</string>
	<key>API_KEY</key>
	<string>AIzaSyAkfCxCA-QRzUsEmAi9_klgEn45v7pLoe4</string>
	<key>GCM_SENDER_ID</key>
	<string>440447150598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jetwallet.flutterJetwallet</string>
	<key>PROJECT_ID</key>
	<string>jetwallet-48ec7</string>
	<key>STORAGE_BUCKET</key>
	<string>jetwallet-48ec7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440447150598:ios:42865c85af5c87327fb187</string>
</dict>
</plist>