<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<array>
			<string>en-US</string>
			<string>ru-RU</string>
			<string>pl-PL</string>
			<string>uk-UK</string>
		</array>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleLocalizations</key>
		<array>
			<string>Spanish</string>
			<string>Polish</string>
			<string>en</string>
			<string>Russia</string>
			<string>Ukrainian</string>
			<string>fr</string>
		</array>
		<key>CFBundleName</key>
		<string>Simple</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>Bundle ID</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
					<string>$(FACEBOOK_URL_SCHEMA)</string>
					<string>fb$(FACEBOOK_ID)</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FacebookAppID</key>
		<string>$(FACEBOOK_ID)</string>
		<key>FacebookAutoLogAppEventsEnabled</key>
		<true/>
		<key>FacebookDisplayName</key>
		<string>$(FACEBOOK_DISPLAY_NAME)</string>
		<key>FirebaseDynamicLinksCustomDomains</key>
		<array>
			<string>https://mobile.simple.app</string>
			<string>https://mobile.simple-spot.biz</string>
			<string>https://jetwallet.page.link</string>
			<string>https://promo.simple.app</string>
			<string>http://simple-uat.simple-spot.biz</string>
		</array>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>https</string>
			<string>googlegmail</string>
			<string>x-dispatch</string>
			<string>readdle-spark</string>
			<string>airmail</string>
			<string>ms-outlook</string>
			<string>ymail</string>
			<string>fastmail</string>
			<string>superhuman</string>
			<string>protonmail</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>To take pictures and detect your face</string>
		<key>NSContactsUsageDescription</key>
		<string>This app requires contacts access to function properly</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>For voice input in chat with support</string>
		<key>NSFaceIDUsageDescription</key>
		<string>We need your face ID</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Security and fraud prevention reasons</string>
		<key>NSUserTrackingUsageDescription</key>
		<string>Your data will be used by our ad partners to improve and personalize your ad experience</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need your location to provide personalized recommendations and improve your overall experience.</string>
		<key>UIBackgroundModes</key>
		<array/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
	</dict>
</plist>
